{% extends 'main_page/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h6>Введите почту, которую указывали при регистрации!</h6>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Адрес электронной почты:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">На указанную почту придет письмо с новым паролем.</div>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
