{% extends 'main_page/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
    <h1 class="display-5">Рассылки</h1>
    <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:mailings_create' %}">Создать рассылку</a>
    <a class="p-2 btn btn-outline-primary" href="{% url 'recipient:recipients' %}">Получатели</a>
</div>

<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        {% if object.sender == request.user or perms.mailing.view_mailing %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        {% if object.sender == request.user %}
                        <a href="{% url 'mailing:mailings_detail' object.pk %}">-> {{ object }} <-</a>
                        {% else %}
                        {{ object }}
                        {% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title pricing-card-title">{{ object.email_subject }}</h5>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li> {{ object.email_body|truncatechars:100 }}</li>
                        <li>Периодичность -
                            {% if object.periodicity == 'daily' %}
                            Ежедневно
                            {% elif object.periodicity == 'weekly' %}
                            Еженедельно
                            {% else %}
                            Ежемесячно
                            {% endif %}
                        </li>
                        <li>Статус рассылки -
                            {% if object.status == 'done' %}
                            Отключена
                            {% elif object.status == 'started' %}
                            Запущенна
                            {% elif object.status == 'created' %}
                            Создана
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                        {% if object.status == 'done' %}
                        <a class="p-2 btn btn-outline-success" href="{% url 'mailing:change_status' object.pk %}">Запустить
                            рассылку</a>
                        {% elif object.status == 'started' %}
                        <a class="p-2 btn btn-outline-warning" href="{% url 'mailing:change_status' object.pk %}">Остановить
                            рассылку</a>
                        {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}