{% extends 'mailing/base.html' %}

{% block content %}
<div class="container">
   <div class="card-body">
        <form method="post" action="" class="form-floating">
            {% csrf_token %}
            {{ form.as_p }}
            <p>Вы подтверждаете, что хотите удалить рассылку {{ object }}?</p>
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a href="{% url 'mailing:mailings_detail' object.pk %}" class="btn btn-warning">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}